h1 {
    color: #2c5a77;
    font-size:300%;
    
}

h2 {
    color: #2c5a77;
}

hr {
    width: 30%;
    height:2px;
    text-align: left;
    margin-left: 0;
    background-color: #2c5a77;
}

body {
    background-color: white;
}